<div class="bg-list-announcement">
  <div class="container-item-announcement">
    <div class="wrapper-descriptions-announcement">
      <img
        src="../../images/img/CategoryCollection1.png"
        alt="CategoryCollection"
      />
      <div class="box-tlt-descriptions">
        <p>🎉 NEW AVAILABLE 12/07/2022</p>
        <h1>ENCANTO COLLECTIONS</h1>
        <div class="box-tlt-line"></div>
        <h2>
          A full-set Encanto includes 15 photo prints of beautiful and amazing
          characters in the show are now available!
        </h2>
      </div>
    </div>
    <div class="btn-view-now">VIEW NOW</div>
  </div>
  <div class="container-item-announcement">
    <div class="wrapper-descriptions-announcement">
      <img
        src="../../images/img/CategoryCollection.png"
        alt="CategoryCollection"
      />
      <div class="box-tlt-descriptions">
        <p>🎉 NEW AVAILABLE 12/07/2022</p>
        <h1>GENSHIN IMPACT NEW ART COLLECTION</h1>
        <div class="box-tlt-line"></div>
        <h2>
          A full-set Encanto includes 15 photo prints of beautiful and amazing
          characters in the show are now available!
        </h2>
      </div>
    </div>
    <div class="btn-view-now">VIEW NOW</div>
  </div>
  <div class="container-item-announcement">
    <div class="wrapper-descriptions-announcement">
      <img
        src="../../images/img/CategoryCollection2.png"
        alt="CategoryCollection"
      />
      <div class="box-tlt-descriptions">
        <p>🎉 NEW AVAILABLE 12/07/2022</p>
        <h1>ENCANTO COLLECTIONS</h1>
        <div class="box-tlt-line"></div>
        <h2>
          A full-set Encanto includes 15 photo prints of beautiful and amazing
          characters in the show are now available!
        </h2>
      </div>
    </div>
    <div class="btn-view-now">VIEW NOW</div>
  </div>
  <div class="container-item-announcement">
    <div class="wrapper-descriptions-announcement">
      <img
        src="../../images/img/CategoryCollection1.png"
        alt="CategoryCollection"
      />
      <div class="box-tlt-descriptions">
        <p>🎉 NEW AVAILABLE 12/07/2022</p>
        <h1>ENCANTO COLLECTIONS</h1>
        <div class="box-tlt-line"></div>
        <h2>
          A full-set Encanto includes 15 photo prints of beautiful and amazing
          characters in the show are now available!
        </h2>
      </div>
    </div>
    <div class="btn-view-now">VIEW NOW</div>
  </div>
  <div class="container-item-announcement active">
    <div class="wrapper-descriptions-announcement">
      <img
        src="../../images/img/CategoryCollection.png"
        alt="CategoryCollection"
      />
      <div class="box-tlt-descriptions">
        <p>🎉 NEW AVAILABLE 12/07/2022</p>
        <h1>GENSHIN IMPACT NEW ART COLLECTION</h1>
        <div class="box-tlt-line"></div>
        <h2>
          A full-set Encanto includes 15 photo prints of beautiful and amazing
          characters in the show are now available!
        </h2>
      </div>
    </div>
    <div class="btn-view-now">VIEW NOW</div>
  </div>
  <div class="container-item-announcement active">
    <div class="wrapper-descriptions-announcement">
      <img
        src="../../images/img/CategoryCollection2.png"
        alt="CategoryCollection"
      />
      <div class="box-tlt-descriptions">
        <p>🎉 NEW AVAILABLE 12/07/2022</p>
        <h1>ENCANTO COLLECTIONS</h1>
        <div class="box-tlt-line"></div>
        <h2>
          A full-set Encanto includes 15 photo prints of beautiful and amazing
          characters in the show are now available!
        </h2>
      </div>
    </div>
    <div class="btn-view-now">VIEW NOW</div>
  </div>
</div>
