<div class="bg-list-prod">
    <div class="group-products">
        <div class="box-image-products">
            <img class="image-products" src="../../images/checkout/img-product.png" alt="">
        </div>
        <div class="box-content-products">
            <div class="name-products">GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art
                <p>Size: A5 size</p>
                <div class="wapper-choose-item-prod">
                    <div class="box-item-choose">
                        <img class="ic-remove" src="../../images/icon/ic-save.svg" alt="icon save" />
                        Save for late
                    </div>
                    <div class="box-item-choose">
                        <img class="ic-remove" src="../../images/icon/ic-delete-shopping.svg" alt="icon remove" />
                        Remove
                    </div>
                </div>
            </div>
        </div>
        <input class="quantity-products" value="1" min="1" max="50" type="number" />
        <div class="price-products">344,828₫ <span>(172,414đ each)</span></div>
    </div>
    <div class="group-products">
        <div class="box-image-products">
            <img class="image-products" src="../../images/checkout/img-product.png" alt="">
        </div>
        <div class="box-content-products">
            <div class="name-products">GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art
                <p>Size: 4 x 6 inches</p>
                <div class="wapper-choose-item-prod">
                    <div class="box-item-choose">
                        <img class="ic-remove" src="../../images/icon/ic-save.svg" alt="icon save" />
                        Save for late
                    </div>
                    <div class="box-item-choose">
                        <img class="ic-remove" src="../../images/icon/ic-delete-shopping.svg" alt="icon remove" />
                        Remove
                    </div>
                </div>
            </div>
        </div>
        <input class="quantity-products" value="1" min="1" max="50" type="number" />
        <div class="price-products">86,207₫</div>
    </div>
</div>