<div class="wapper-layout-favorite-item">
    <a href="/pages/ProductDetail/index.html" class="bg-child-favorite-item">
        <img src="../../images/img/CategoryCollection.png" alt="CategoryCollection">
        <div class="description-item-favorite">
            <h1>FULL SET Sailor Moon Photo Print | Roy The </h1>
            <div class="price-favorive">
                <p>12,283,472₫+</p>
            </div>
            <p>Only 1 left</p>
        </div>
    </a>
    <a href="/pages/ProductDetail/index.html" class="bg-child-favorite-item">
        <img src="../../images/img/CategoryCollection1.png" alt="CategoryCollection">
        <div class="description-item-favorite">
            <h1>FULL SET Sailor Moon Photo Print | Roy The  </h1>
            <div class="price-favorive">
                <p>12,283,472₫+</p>
                <div class="seller-item">
                    <img src="../../images/icon/ic-rate-orange-bestSelect.svg" alt="icon best select" />
                    <span>Best seller</span>
                </div>
            </div>
            <p>Only 1 left</p>
        </div>
    </a>
    <a href="/pages/ProductDetail/index.html" class="bg-child-favorite-item">
        <img src="../../images/img/CategoryCollection2.png" alt="CategoryCollection">
        <div class="description-item-favorite">
            <h1>FULL SET Sailor Moon Photo Print | Roy The </h1>
            <div class="price-favorive">
                <p>12,283,472₫+</p>
            </div>
            <p>Only 1 left</p>
        </div>
    </a>
    <a href="/pages/ProductDetail/index.html" class="bg-child-favorite-item">
        <img src="../../images/img/CategoryCollection3.png" alt="CategoryCollection">
        <div class="description-item-favorite">
            <h1>FULL SET Sailor Moon Photo Print | Roy The </h1>
            <div class="price-favorive">
                <p>12,283,472₫+</p>
            </div>
            <p>Only 1 left</p>
        </div>
    </a>
    <a href="/pages/ProductDetail/index.html" class="bg-child-favorite-item">
        <img src="../../images/img/CategoryCollection.png" alt="CategoryCollection">
        <div class="description-item-favorite">
            <h1>FULL SET Sailor Moon Photo Print | Roy The </h1>
            <div class="price-favorive">
                <p>12,283,472₫+</p>
            </div>
            <p>Only 1 left</p>
        </div>
    </a>
    <a href="/pages/ProductDetail/index.html" class="bg-child-favorite-item">
        <img src="../../images/img/CategoryCollection1.png" alt="CategoryCollection">
        <div class="description-item-favorite">
            <h1>FULL SET Sailor Moon Photo Print | Roy The </h1>
            <div class="price-favorive">
                <p>12,283,472₫+</p>
                <div class="seller-item">
                    <img src="../../images/icon/ic-rate-orange-bestSelect.svg" alt="icon best select" />
                    <span>Best seller</span>
                </div>
            </div>
            <p>Only 1 left</p>
        </div>
    </a>
    <a href="/pages/ProductDetail/index.html" class="bg-child-favorite-item active">
        <img src="../../images/img/CategoryCollection2.png" alt="CategoryCollection">
        <div class="description-item-favorite">
            <h1>FULL SET Sailor Moon Photo Print | Roy The </h1>
            <div class="price-favorive">
                <p>12,283,472₫+</p>
            </div>
            <p>Only 1 left</p>
        </div>
    </a>
    <a href="/pages/ProductDetail/index.html" class="bg-child-favorite-item active">
        <img src="../../images/img/CategoryCollection3.png" alt="CategoryCollection">
        <div class="description-item-favorite">
            <h1>FULL SET Sailor Moon Photo Print | Roy The </h1>
            <div class="price-favorive">
                <p>12,283,472₫+</p>
            </div>
            <p>Only 1 left</p>
        </div>
    </a>
</div>