<div class="bg-list-event-commit">
  <div class="bg-upcommit-events">
    <div class="wapper-layout-commit-event">
      <div class="est-time">
        <img src="../../images/icon/ic-date-yellow.svg" alt="icon" />
        <p>23 June, 2023 at 14:00</p>
      </div>
      <h3>The Cleveland Street Scandal</h3>
    </div>
    <img src="../../images/img/img-event-com.png" alt="image event" />
    <div class="wapper-layout-commit-event">
      <div class="descriptions">
        Event Déscription is written here so that user can understand what is
        this about...
      </div>
      <div class="txt-desc">Free</div>
      <div class="event-took">The event took place</div>
      <div class="line"></div>
      <div class="locial-events-comming">
        <img src="../../images/icon/ic-locial-grey.svg" alt="icon" />
        <div class="txt-locial">
          Summer Tower Nguyen Thi Minh Khai, Ben Nghe Ward, Distric 1
        </div>
      </div>
    </div>
    <div class="btn-view-now">VIEW NOW</div>
  </div>
  <!--  -->
  <div class="bg-upcommit-events">
    <div class="wapper-layout-commit-event">
      <div class="est-time">
        <img src="../../images/icon/ic-date-yellow.svg" alt="icon" />
        <p>23 June, 2023 at 14:00</p>
      </div>
      <h3>The Cleveland Street Scandal</h3>
    </div>
    <img src="../../images/img/img-event-com.png" alt="image event" />
    <div class="wapper-layout-commit-event">
      <div class="descriptions">
        Event Déscription is written here so that user can understand what is
        this about...
      </div>
      <div class="txt-desc">Free</div>
      <div class="event-took">The event took place</div>
      <div class="line"></div>
      <div class="locial-events-comming">
        <img src="../../images/icon/ic-locial-grey.svg" alt="icon" />
        <div class="txt-locial">
          Summer Tower Nguyen Thi Minh Khai, Ben Nghe Ward, Distric 1
        </div>
      </div>
    </div>
    <div class="btn-view-now">VIEW NOW</div>
  </div>
  <!--  -->
  <div class="bg-upcommit-events">
    <div class="wapper-layout-commit-event">
      <div class="est-time">
        <img src="../../images/icon/ic-date-yellow.svg" alt="icon" />
        <p>23 June, 2023 at 14:00</p>
      </div>
      <h3>The Cleveland Street Scandal</h3>
    </div>
    <img src="../../images/img/img-event-com.png" alt="image event" />
    <div class="wapper-layout-commit-event">
      <div class="descriptions">
        Event Déscription is written here so that user can understand what is
        this about...
      </div>
      <div class="txt-desc">Free</div>
      <div class="event-took">The event took place</div>
      <div class="line"></div>
      <div class="locial-events-comming">
        <img src="../../images/icon/ic-locial-grey.svg" alt="icon" />
        <div class="txt-locial">
          Summer Tower Nguyen Thi Minh Khai, Ben Nghe Ward, Distric 1
        </div>
      </div>
    </div>
    <div class="btn-view-now">VIEW NOW</div>
  </div>
</div>
