@import url(../cpn_LayoutAuth.css);

.wrapper-body-main .wrapper-body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-body .group-form-login {
  padding: 50rem 70rem;
  background: rgba(30, 30, 30, 0.8);
  backdrop-filter: blur(5rem);
  border-radius: 48rem;
}

.group-form-login h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20rem;
  color: #ffffff;
}

.group-form-login .form-layout-input {
  padding: 8rem 0;
}

.form-layout-input .form-item-children {
  display: flex;
  flex-direction: column;
  margin-top: 24rem;
  position: relative;
}

.form-item-children .p-title-form {
  font-weight: 400;
  font-size: 16rem;
  color: #ffffff;
  margin-bottom: 9rem;
}
.form-item-children .active {
  font-weight: 700;
  cursor: pointer;
}
.form-item-children .custom-laber {
  display: flex;
  justify-content: space-between;
}
.form-item-children .type-input {
  background: rgba(240, 238, 231, 0.3);
  height: 41rem;
  width: 379rem;
  border: 1rem solid rgba(38, 37, 30, 0.12);
  border-radius: 7rem;
  font-weight: 400;
  font-size: 16rem;
  color: #ffffff !important;
  padding: 0 10rem;
}
.form-item-children .type-input:focus {
  background: rgba(15, 17, 24, 0.5);
  border: 3rem solid #be8637;
  box-shadow: 0rem 4rem 24rem #f3e0bf, inset 0rem 0rem 4.49767rem #fff7e3;
  border-radius: 7rem;
  padding: 0 10rem 0 37rem;
}

.bg-input-focus {
  background-image: url(../../images/pointer-nav.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 70rem;
  height: 70rem;
  position: absolute;
  top: 35%;
  left: -20rem;
  display: none;
}
.bg-input-focus.active {
  display: block;
}

.form-layout-input .type-button-submit {
  height: 58rem;
  width: 100%;
  background: #be8637;
  border-radius: 3rem;
  border: 1rem solid #be8637;
  margin-top: 60rem;

  font-style: normal;
  font-weight: 600;
  font-size: 16rem;
  color: #ffffff;
}

.form-layout-input b {
  font-style: normal;
  font-weight: 700;
  font-size: 16rem;
  color: #ffffff;
  display: flex;
  justify-content: center;
  margin-top: 7rem;
}
.form-layout-input b span {
  margin-left: 5rem;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (max-width: 720px) {
  .wrapper-body .group-form-login {
    padding: 25rem;
    margin: 0 10rem 10% 10rem;
  }

  .form-item-children .type-input {
    width: 100%;
  }
  .form-layout-input .type-button-submit {
    height: 36rem;
  }
}
