.paginate-reviews ul {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 8rem;
  column-gap: 0.5rem;
}

.paginate-reviews ul li {
  color: #b1b1b1;
  list-style: none;
  line-height: 35rem;
  text-align: center;
  font-size: 16rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
}

.paginate-reviews ul li.numb {
  list-style: none;
  height: 35rem;
  width: 35rem;
  margin: 0 3rem;
  line-height: 35rem;
  border-radius: 50%;
}

.paginate-reviews ul li.numb.first {
  margin: 0rem 3rem 0 -5rem;
}

.paginate-reviews ul li.numb.last {
  margin: 0rem 3rem 0 3rem;
}

.paginate-reviews ul li.dots {
  font-size: 16rem;
  cursor: default;
}

.paginate-reviews ul li.btn {
  padding: 0 8rem;
  border-radius: 50rem;
}

.paginate-reviews ul li:first-child,
.paginate-reviews ul li:last-child {
  color: #be8637;
  background: #e6e6e6;
}

.paginate-reviews li.active {
  color: #be8637;
  background: #e6e6e6;
}

.icon-paginate {
  width: 19rem;
  height: 19rem;
}

@media only screen and (max-width: 500px) {
  .paginate-reviews ul {
    column-gap: 0;
    justify-content: space-between;
  }
}
