<div class="wrapper-order">
    <div class="order-header">
        <p>Upcoming Event</p>
    </div>
    <div class="bg-Comming-Event">
        <img src="../../images/img/img-upcoming.png" alt="upcoming" />
        <div class="txt-descriptions">
            <h1>🎉 ANNOUNCEMENT</h1>
            <div class="line-comming-event"></div>
            <span>A full-set Encanto includes 15 photo prints of beautiful and
                amazing characters in the show are now available!</span>
            <p>YOU ARE SET TO GO TO THIS EVENT</p>
        </div>
    </div>
</div>