<div class="section-footer-page">
  <div class="wrapper-footer-page">
    <div class="group-footer">
      <div>
        <img class="img-logo-gr-footer" src="../public/logo-header.svg" />
      </div>
      <div class="d-flex ms-1">
        <div><img class="ic-logo-items--footer" src="../public/footer-mail.svg" /></div>
        <div class="txt-bottom ms-2">roytheart@gmail.com</div>
      </div>
      <div class="d-flex ms-1">
        <div><img class="ic-logo-items--footer" src="../public/footer-mobile.svg" /></div>
        <div class="txt-bottom ms-2">
          +91 98765 43210 (Receive Text Message Only)
        </div>
      </div>
      <div class="d-flex ms-1">
        <div><img class="ic-logo-items--footer" src="../public/footer-location.svg" /></div>
        <div class="txt-bottom ms-2">Melbourne, Australia</div>
      </div>
    </div>
    <div class="group-footer">
      <div class="txt-subscribe-main">
        Stay updated with our new announcements
      </div>
      <div class="form-footer">
        <input class="input-footer" placeholder="Your Email..." />
        <div class="btn-footer">SUBSCRIBE</div>
      </div>
      <div class="txt-subscribe-sub">
        This email list is private and exclusively about Angelarium
      </div>
      <div class="box-footer-social">
        <div class="pointer">
          <img src="../public/footer-instagram.svg" />
        </div>
        <div class="pointer">
          <img src="../public/footer-twitter.svg" />
        </div>
        <div class="pointer">
          <img src="../public/footer-displate.svg" />
        </div>
        <div class="pointer">
          <img src="../public/footer-etsy.svg" />
        </div>
      </div>
    </div>
  </div>
  <div class="wrapper-footer-page mt-4">
    <div class="group-footer">
      <div class="txt-copyright">© 2022 RoytheArt. All rights reserved</div>
    </div>
    <div class="group-footer">
      <div style="text-align: center;">
        <span class="txt-bottom">Terms & Conditions</span>
        <span class="txt-bottom ms-2">|</span>
        <span class="txt-bottom ms-2">Privacy Policy</span>
        <span class="txt-bottom ms-2">|</span>
        <span class="txt-bottom ms-2">Sitemap</span>
        <span class="txt-bottom ms-2">|</span>
        <span class="txt-bottom ms-2">Disclaimer</span>
      </div>
    </div>
  </div>
</div>