<div id="wrapper-header" class="wrapper-header laptop">
  <div class="group-header">
    <div class="line-header"></div>
    <a href="/pages/homepage/index.html" class="box-brand">
      <img src="../public/logo-header.svg" alt="" />
    </a>
  </div>
  <div class="group-header">
    <div class="box-navbar">
      <a href="/pages/homepage/index.html" class="nav-items"><img src="../public/nav-home.svg" /></a>
      <a href="/pages/About/About.html" class="nav-items"><img src="../public/nav-funny.svg" /></a>
      <a href="/pages/Shop/Shop.html" class="nav-items"><img src="../public/nav-shop.png" /></a>
      <a href="/pages/Cart/ShoppingCart.html" class="nav-items"><img src="../public/nav-cart.svg" /></a>
      <a href="/pages/Profile/Profile.html" class="nav-items"><img src="../public/nav-user.svg" /></a>
      <div class="nav-items"><img src="../public/nav-menu.svg" /></div>
    </div>
    <div class="line-header"></div>
  </div>
</div>

<div class="wrapper-header mobile">
  <div class="group-header">
    <div class="line-header"></div>
    <a href="/pages/homepage/index.html" class="box-brand">
      <img src="../public/logo-header.svg" alt="" />
    </a>
  </div>
  <div class="group-header">
    <div class="box-navbar">
      <div class="nav-items" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
        <img src="../public/nav-menu.svg" />
      </div>
    </div>
    <div class="line-header"></div>
  </div>
</div>

<div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
  <div class="wrapper-header-responsive">
    <div class="d-flex justify-content-center">
      <img src="../public/logo-header.svg" alt="" />
    </div>
    <div class="box-navbar-responsive">
      <a href="/pages/homepage/index.html" class="nav-items-responsive active">
        <img class="image-items-responsive" src="../public/nav-home.svg" /> Home
      </a>
      <a href="/pages/About/About.html" class="nav-items-responsive">
        <img class="image-items-responsive" src="../public/nav-funny.svg" />
        About
      </a>
      <a href="/pages/Shop/Shop.html" class="nav-items-responsive">
        <img class="image-items-responsive" src="../public/nav-shop.svg" />
        Store
      </a>
      <a href="/pages/Cart/ShoppingCart.html" class="nav-items-responsive">
        <img class="image-items-responsive" src="../public/nav-cart.svg" />
        Shopping cart
      </a>
      <a href="/pages/Profile/Profile.html" class="nav-items-responsive">
        <img class="image-items-responsive" src="../public/nav-user.svg" />
        Account
      </a>
    </div>
  </div>
</div>