<div class="wrapper-count-list-category">
  <div class="bg-count-category active">
    <p class="txt">All Items</p>
    <p class="number">234</p>
  </div>
  <div class="bg-count-category">
    <p class="txt">Bookmarks</p>
    <p class="number">15</p>
  </div>
  <div class="bg-count-category">
    <p class="txt">Stickers</p>
    <p class="number">45</p>
  </div>
  <div class="bg-count-category">
    <p class="txt">Postcards</p>
    <p class="number">121</p>
  </div>
  <div class="bg-count-category">
    <p class="txt">Art prints</p>
    <p class="number">9</p>
  </div>
  <div class="bg-count-category">
    <p class="txt">Artboard</p>
    <p class="number">23</p>
  </div>
  <div class="bg-count-category">
    <p class="txt">Art prints</p>
    <p class="number">1</p>
  </div>
  <div class="bg-count-category">
    <p class="txt">Calendar</p>
    <p class="number">1</p>
  </div>
  <div class="bg-count-category">
    <p class="txt">Notebook</p>
    <p class="number">1</p>
  </div>
  <div class="bg-count-category">
    <p class="txt">Jigsaw puzzle</p>
    <p class="number">1</p>
  </div>
  <div class="bg-count-category">
    <p class="txt">Mouse Pad</p>
    <p class="number">1</p>
  </div>
  <div class="bg-count-category">
    <p class="txt">Backpack</p>
    <p class="number">1</p>
  </div>
</div>
