<div class="wrapper-all-items-shop">
  <div class="container-txt-header">
    <h1>All Items</h1>
    <div class="line-header-all-items-shop"></div>
    <a class="view-all" href="/pages/Shop/ProductShop.html">
      <p>View all</p>
      <img src="../../images/icon/ic-light-right.svg" alt="icon">
    </a>
  </div>
  <div class="container-list-all-item-prod-shop-bottom">
    <div class="child-box-item">
      <img src="../../images/img/RelateCollections.png" alt="RelateCollections" />
      <h1>FULL SET Sailor Moon Photo Print | Roy The</h1>
      <h2>12,283,472₫+</h2>
    </div>
    <div class="child-box-item">
      <img src="../../images/img/RelateCollections1.png" alt="RelateCollections" />
      <h1>ENCANTO BACKPACKS - Encanto series Fanart Disney Series</h1>
      <h2>983,472₫+</h2>
    </div>
    <div class="child-box-item">
      <img src="../../images/img/RelateCollections2.png" alt="RelateCollections" />
      <h1>FULL SET Sailor Moon Photo Print | Roy The</h1>
      <h2>12,283,472₫+</h2>
    </div>
    <div class="child-box-item">
      <img src="../../images/img/RelateCollections3.png" alt="RelateCollections" />
      <h1>FULL SET Sailor Moon Photo Print | Roy The</h1>
      <h2>12,283,472₫+</h2>
    </div>
    <div class="child-box-item">
      <img src="../../images/img/CategoryCollection.png" alt="RelateCollections" />
      <h1>FULL SET Sailor Moon Photo Print | Roy The</h1>
      <h2>12,283,472₫+</h2>
    </div>
    <div class="child-box-item">
      <img src="../../images/img/CategoryCollection1.png" alt="RelateCollections" />
      <h1>FULL SET Sailor Moon Photo Print | Roy The</h1>
      <h2>12,283,472₫+</h2>
      <p>Only 1 left</p>
    </div>
    <div class="child-box-item active">
      <img src="../../images/img/CategoryCollection2.png" alt="RelateCollections" />
      <h1>FULL SET Sailor Moon Photo Print | Roy The</h1>
      <h2>983,472₫+</h2>
    </div>
    <div class="child-box-item active">
      <img src="../../images/img/CategoryCollection3.png" alt="RelateCollections" />
      <h1>ENCANTO POSTCARDS 2022, Full-set Madrigal Family Disney Postcards</h1>
      <h2>100,167₫+</h2>
    </div>
  </div>
</div>