<div class="bg-list-item-collections">
  <a href="/pages/Collections/collectionsCategoryDetails.html" class="group-list-item-collections">
    <img src="../../images/img/Collections.png" alt="Collections" />
    <div class="group-description">
      <div class="description-item">
        <p>30 tác phẩm</p>
        <h1>Genshin Impact</h1>
      </div>
    </div>
  </a>
  <a href="/pages/Collections/collectionsCategoryDetails.html" class="group-list-item-collections">
    <img src="../../images/img/Collections7.png" alt="Collections" />
    <div class="group-description">
      <div class="description-item">
        <p>48 tác phẩm</p>
        <h1>Arcane Fanart</h1>
      </div>
    </div>
  </a>
  <a href="/pages/Collections/collectionsCategoryDetails.html" class="group-list-item-collections">
    <img src="../../images/img/Collections1.png" alt="Collections" />
    <div class="group-description">
      <div class="description-item">
        <p>30 tác phẩm</p>
        <h1>Angelic</h1>
      </div>
    </div>
  </a>
  <a href="/pages/Collections/collectionsCategoryDetails.html" class="group-list-item-collections">
    <img src="../../images/img/Collections2.png" alt="Collections" />
    <div class="group-description">
      <div class="description-item">
        <p>30 ảnh</p>
        <h1>Sailor Scout Fanart</h1>
      </div>
    </div>
  </a>
  <a href="/pages/Collections/collectionsCategoryDetails.html" class="group-list-item-collections">
    <img src="../../images/img/Collections3.png" alt="Collections" />
    <div class="group-description">
      <div class="description-item">
        <p>30 tác phẩm</p>
        <h1>Disney Princess</h1>
      </div>
    </div>
  </a>
  <a href="/pages/Collections/collectionsCategoryDetails.html" class="group-list-item-collections">
    <img src="../../images/img/Collections4.png" alt="Collections" />
    <div class="group-description">
      <div class="description-item">
        <p>48 tác phẩm</p>
        <h1>Celebrities Fanart</h1>
      </div>
    </div>
  </a>
  <a href="/pages/Collections/collectionsCategoryDetails.html" class="group-list-item-collections actives">
    <img src="../../images/img/Collections5.png" alt="Collections" />
    <div class="group-description">
      <div class="description-item">
        <p>30 tác phẩm</p>
        <h1>Meimay</h1>
      </div>
    </div>
  </a>
  <a href="/pages/Collections/collectionsCategoryDetails.html" class="group-list-item-collections actives">
    <img src="../../images/img/Collections6.png" alt="Collections" />
    <div class="group-description">
      <div class="description-item">
        <p>30 ảnh</p>
        <h1>Goddess</h1>
      </div>
    </div>
  </a>
  <a href="/pages/Collections/collectionsCategoryDetails.html" class="group-list-item-collections actives">
    <img src="../../images/img/Collections3.png" alt="Collections" />
    <div class="group-description">
      <div class="description-item">
        <p>30 tác phẩm</p>
        <h1>Disney Princess</h1>
      </div>
    </div>
  </a>
  <a href="/pages/Collections/collectionsCategoryDetails.html" class="group-list-item-collections active">
    <img src="../../images/img/Collections4.png" alt="Collections" />
    <div class="group-description">
      <div class="description-item">
        <p>48 tác phẩm</p>
        <h1>Celebrities Fanart</h1>
      </div>
    </div>
  </a>
  <a href="/pages/Collections/collectionsCategoryDetails.html" class="group-list-item-collections active">
    <img src="../../images/img/Collections5.png" alt="Collections" />
    <div class="group-description">
      <div class="description-item">
        <p>30 tác phẩm</p>
        <h1>Meimay</h1>
      </div>
    </div>
  </a>
  <a href="/pages/Collections/collectionsCategoryDetails.html" class="group-list-item-collections active">
    <img src="../../images/img/Collections6.png" alt="Collections" />
    <div class="group-description">
      <div class="description-item">
        <p>30 ảnh</p>
        <h1>Goddess</h1>
      </div>
    </div>
  </a>
</div>