<div class="wrapper-list-item-Relate-Collection">
  <div class="header-relate-collections-title">
    <h1>Related Products</h1>
    <div class="line-txt-relate"></div>
  </div>
  <div class="list-item-relate">
    <div class="child-item-relate-collection">
      <img src="../../images/img/RelateCollections.png" alt="RelateCollections" />
      <div class="txt-description">
        <b>FULL SET Sailor Moon Photo Print | Roy The </b>
        <div class="price-txt-desc">12,283,472₫+
          <div class="best-sale">
            <img src="../../images/icon/ic-rate-orange-bestSelect.svg" alt="icon best select" />
            Best seller
          </div>
        </div>
        <span>Only 1 left</span>
      </div>
    </div>
    <div class="child-item-relate-collection">
      <img src="../../images/img/RelateCollections1.png" alt="RelateCollections" />
      <div class="txt-description">
        <b>ENCANTO BACKPACKS - Encanto series Fanart Disney Series </b>
        <div class="price-txt-desc">983,472₫+</div>
      </div>
    </div>
    <div class="child-item-relate-collection actives">
      <img src="../../images/img/RelateCollections2.png" alt="RelateCollections" />
      <div class="txt-description">
        <b>FULL SET Sailor Moon Photo Print | Roy The </b>
        <div class="price-txt-desc">12,283,472₫+</div>
        <span>Only 1 left</span>
      </div>
    </div>
    <div class="child-item-relate-collection actives">
      <img src="../../images/img/RelateCollections2.png" alt="RelateCollections" />
      <div class="txt-description">
        <b>FULL SET Sailor Moon Photo Print | Roy The </b>
        <div class="price-txt-desc">12,283,472₫+</div>
      </div>
    </div>
    <div class="child-item-relate-collection active">
      <img src="../../images/img/RelateCollections3.png" alt="RelateCollections" />
      <div class="txt-description">
        <b>FULL SET Sailor Moon Photo Print | Roy The </b>
        <div class="price-txt-desc">12,283,472₫+
          <div class="best-sale">
            <img src="../../images/icon/ic-rate-orange-bestSelect.svg" alt="icon best select" />
            Best seller
          </div>
        </div>
      </div>
    </div>
    <div class="child-item-relate-collection active">
      <img src="../../images/img/RelateCollections2.png" alt="RelateCollections" />
      <div class="txt-description">
        <b>FULL SET Sailor Moon Photo Print | Roy The </b>
        <div class="price-txt-desc">12,283,472₫+</div>
        <span>Only 1 left</span>
      </div>
    </div>
  </div>
</div>