<div class="wrapper-list-item-Catefory-Collections">
  <a href="/pages/Collections/CollectionDetails.html" class="item-child-category-collections">
    <img src="../../images/img/CategoryCollection.png" alt="CategoryCollection" />
    <div class="group-description">
      <p>Genshin Impact</p>
    </div>
  </a>
  <a href="/pages/Collections/CollectionDetails.html" class="item-child-category-collections">
    <img src="../../images/img/CategoryCollection1.png" alt="CategoryCollection" />
    <div class="group-description">
      <p>Arcane Fanart</p>
    </div>
  </a>
  <a href="/pages/Collections/CollectionDetails.html" class="item-child-category-collections">
    <img src="../../images/img/CategoryCollection2.png" alt="CategoryCollection" />
    <div class="group-description">
      <p>GANYU</p>
    </div>
  </a>
  <a href="/pages/Collections/CollectionDetails.html" class="item-child-category-collections">
    <img src="../../images/img/CategoryCollection3.png" alt="CategoryCollection" />
    <div class="group-description">
      <p>HU TAO</p>
    </div>
  </a>
  <a href="/pages/Collections/CollectionDetails.html" class="item-child-category-collections actives">
    <img src="../../images/img/CategoryCollection4.png" alt="CategoryCollection" />
    <div class="group-description">
      <p>KAEDEHARA KAZUHA</p>
    </div>
  </a>
  <a href="/pages/Collections/CollectionDetails.html" class="item-child-category-collections actives">
    <img src="../../images/img/CategoryCollection5.png" alt="CategoryCollection" />
    <div class="group-description">
      <p>SANGONOMIYA KOKOMI</p>
    </div>
  </a>
  <a href="/pages/Collections/CollectionDetails.html" class="item-child-category-collections active">
    <img src="../../images/img/CategoryCollection6.png" alt="CategoryCollection" />
    <div class="group-description">
      <p>RAIDEN SHOGUN</p>
    </div>
  </a>
  <a href="/pages/Collections/CollectionDetails.html" class="item-child-category-collections active">
    <img src="../../images/img/CategoryCollection7.png" alt="CategoryCollection" />
    <div class="group-description">
      <p>YAE MIKO</p>
    </div>
  </a>
</div>