<div class="wrapper-list-item-Other-Collection">
  <div class="header-other-collections-title">
    <h1>Other Collections</h1>
    <div class="line-txt-other"></div>
  </div>
  <div class="bg-list-item-Other">
    <div class="child-item">
      <img src="../../images/img/OtherCollections.png" alt="OtherCollections" />
      <div class="bg-title-descriptions">
        <div class="box-layout-txt">
          <p>30 tác phẩm</p>
          <b>Genshin Impact</b>
        </div>
      </div>
    </div>
    <div class="child-item">
      <img
        src="../../images/img/OtherCollections1.png"
        alt="OtherCollections"
      />
      <div class="bg-title-descriptions">
        <div class="box-layout-txt">
          <p>48 tác phẩm</p>
          <b>Arcane Fanart</b>
        </div>
      </div>
    </div>
    <div class="child-item actives">
      <img
        src="../../images/img/OtherCollections2.png"
        alt="OtherCollections"
      />
      <div class="bg-title-descriptions">
        <div class="box-layout-txt">
          <p>30 tác phẩm</p>
          <b>Angelic</b>
        </div>
      </div>
    </div>
    <div class="child-item active">
      <img
        src="../../images/img/OtherCollections3.png"
        alt="OtherCollections"
      />
      <div class="bg-title-descriptions">
        <div class="box-layout-txt">
          <p>30 ảnh</p>
          <b>Sailor Scout Fanart</b>
        </div>
      </div>
    </div>
  </div>
</div>
