.wrapper-body-nav {
  flex: 214rem;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background: rgba(15, 17, 24, 0.4);
  font-size: 21rem;
  row-gap: 24rem;
  padding-left: 40rem;
}
.wrapper-body-nav .box-body-nav {
  font-weight: 600;
  font-size: 20rem;
  color: #ffffff;
  opacity: 0.5;
  padding: 4rem 24rem;
  cursor: pointer;
  position: relative;
}
.wrapper-body-nav .box-body-nav:hover {
  background: rgba(15, 17, 24, 0.1);
  box-shadow: inset 0rem 0rem 4.49767rem #fff7e3;
  border-radius: 7rem;
  opacity: 1;
}
.wrapper-body-nav .box-body-nav.active {
  background: rgba(15, 17, 24, 0.5);
  border: 0.899534rem solid #be8637;
  box-shadow: 0rem 4rem 24rem #f3e0bf, inset 0rem 0rem 4.49767rem #fff7e3;
  border-radius: 7rem;
  opacity: 1;
}
.wrapper-body-nav .box-body-nav > img {
  display: none;
}
.wrapper-body-nav .box-body-nav.active > img.active {
  position: absolute;
  left: -37rem;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 61rem;
  height: 71rem;
  object-fit: contain;
  display: block;
}
.show-tab-wrapper-body-nav {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .wrapper-body-nav {
    display: none;
  }
  .show-tab-wrapper-body-nav.active {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    background: radial-gradient(
      64.21% 64.24% at 50% 35.76%,
      rgba(31, 31, 32, 0) 65.62%,
      rgba(31, 31, 32, 0.44) 86.46%,
      rgba(31, 31, 32, 0.67) 100%
    );
  }
  .show-tab-wrapper-body-nav .show-tab-bg-clip {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    clip-path: polygon(0 7%, 100% 35%, 100% 78%, 0 51%);
  }
  .show-tab-wrapper-body-nav .show-tab-bg-body-nav {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20rem;
  }
  .show-tab-bg-body-nav .show-tab-box-body-nav {
    max-height: 36rem;
    border-radius: 7rem;
    padding: 4rem 24rem;
    font-weight: 600;
    font-size: 20rem;
    opacity: 0.5;
    color: #ffffff;
    text-shadow: 0rem 2.38137rem 2.38137rem rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: relative;
  }
  .show-tab-box-body-nav > img {
    position: absolute;
    left: -44rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    display: none;
    width: 71rem;
    height: 71rem;
    object-fit: contain;
  }
  .show-tab-box-body-nav.active > img {
    display: block;
  }
  .show-tab-bg-body-nav .show-tab-box-body-nav.active {
    background: rgba(15, 17, 24, 0.5);
    border: 0.899534rem solid #be8637;
    box-shadow: 0rem 4rem 24rem #f3e0bf, inset 0rem 0rem 4.49767rem #fff7e3;
    opacity: 1;
  }
  .show-tab-bg-body-nav.activeHide {
    display: none;
  }
}
