.slidershow-items {
  padding: 16rem 40rem;
  margin-top: 24rem;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  overflow: hidden;
  position: relative;
}

/* Btn */
.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10rem !important;
  right: auto;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10rem !important;
  left: auto;
}
.swiper-button-prev > img {
  width: 30rem;
  height: 30rem;
  object-fit: contain;
}
.swiper-button-next > img {
  width: 30rem;
  height: 30rem;
  object-fit: contain;
}

/* Form Slider */
.swiper {
  width: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 16rem;
  width: 100rem;
  position: relative;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 200rem;
  object-fit: cover;
  overflow: hidden;
  filter: drop-shadow(-8rem 4rem 32rem rgba(0, 0, 0, 0.25));
  border-radius: 14rem;
}
.swiper-slide p {
  position: absolute;
  font-weight: 700;
  font-size: 16rem;
  color: #ffffff;
  bottom: 0;
  padding: 24rem;
  text-align: left;
  background: linear-gradient(360deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 14rem;
  width: 100%;
}
.swiper-wrapper {
  position: relative;
  width: 100rem !important;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

@media only screen and (max-width: 1024px) {
  .slidershow-items {
    margin-top: 12rem;
    padding: 8rem 20%;
  }
  .swiper-slide img {
    height: 140rem;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 110rem !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 110rem !important;
  }
  .swiper-slide p {
    font-size: 14rem;
  }
}
@media only screen and (max-width: 720px) {
  .swiper {
    width: 160rem;
  }
  .swiper-slide img {
    height: 160rem;
  }
  .slidershow-items {
    padding: 8rem 0;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 80rem !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 80rem !important;
  }
}
