<!-- Footer -->
<div class="wrapper-footer" id="wrapper-footer">
    <div class="group-footer-items">
        <div class="line-footer"></div>
        <img alt="icon item" class="img-logo-branch" class="ic-logo-footer" src="../../images/logo-footer.png" />
        <p>RoytheArt</p>
    </div>
    <div class="group-footer-items">
        <a class="active" href="/pages/homepage/index.html">
            <img alt="icon item" src="../../images/icon/ic-home-white.svg" />
        </a>
        <a class="active" href="/pages/About/About.html">
            <img alt="icon item" src="../../images/icon-fun.png" />
        </a>
        <a class="active" href="/pages/Shop/Shop.html">
            <img alt="icon item" src="../../images/icon-shop.png" />
        </a>
        <a class="active" href="/pages/Cart/ShoppingCart.html">
            <img alt="icon item" src="../../images/icon/ic-cart-white.svg" />
        </a>
        <a class="active" href="/pages/SignIn/SignIn.html">
            <img alt="icon item" src="../../images/icon/ic-user-white.svg" />
        </a>
        <img alt="icon item" id="menuNavbar" src="../../images/icon-menu.png" />
        <div class="line-footer"></div>
    </div>
</div>
<!-- Show menu Bottom -->
<div class="wrapper-offcanvas-bottom" id="wrapper-offcanvas-bottom">
    <div class="group-footer-items active" id="hideMenuNavbar">
        <div class="line-footer"></div>
        <img alt="icon item" class="img-logo-branch" class="ic-logo-footer" src="../../images/logo-footer-main.png" />
        <p>RoytheArt</p>
    </div>
    <div class="group-footer-items">
        <div class="line-footer active"></div>
        <div class="parent-items-menu-collection">
            <a class="active" href="/">
                <img alt="icon item" src="../../images/icon-menu.png" />
                <p>Menu</p>
            </a>
            <a href="/pages/homepage/index.html">
                <img alt="icon item" src="../../images/icon/ic-home-white.svg" />
                <p>Home</p>
            </a>
            <a href="/pages/About/About.html">
                <img alt="icon item" src="../../images/icon-fun.png" />
                <p>About Roy The Art</p>
            </a>
            <a href="/pages/Shop/Shop.html">
                <img alt="icon item" src="../../images/icon-shop.png" />
                <p>Store</p>
            </a>
            <a href="/pages/Cart/ShoppingCart.html">
                <img alt="icon item" src="../../images/icon/ic-cart-white.svg" />
                <p>Shopping cart</p>
            </a>
            <a href="/pages/SignIn/SignIn.html">
                <img alt="icon item" src="../../images/icon/ic-user-white.svg" />
                <p>Account</p>
            </a>
        </div>
        <div class="line-footer"></div>
    </div>
</div>