<div class="wrapper-footer" id="wrapper-footer">
  <div class="group-footer-items">
    <div class="line-footer"></div>
    <div class="logo-footer">
      <div class="icon-branch">
        <img class="ic-logo-footer" src="../../images/logo-footer.png" />
      </div>
      <div class="text-branch">RoytheArt</div>
    </div>
  </div>
  <div class="group-footer-items">
    <div class="logo-footer active">
      <div class="icon-branch" onclick="layoutHome()">
        <img src="../../images/icon/ic-home-white.svg" />
      </div>
    </div>
    <div class="logo-footer active">
      <div class="icon-branch">
        <img src="../../images/icon-fun.png" />
      </div>
    </div>
    <div class="logo-footer active">
      <div class="icon-branch">
        <img src="../../images/icon-shop.png" />
      </div>
    </div>
    <div class="logo-footer active">
      <div class="icon-branch">
        <img src="../../images/icon/ic-cart-white.svg" />
      </div>
    </div>
    <div class="logo-footer active">
      <div class="icon-branch">
        <img src="../../images/icon/ic-user-white.svg" />
      </div>
    </div>
    <div class="logo-footer">
      <div
        id="menuNavbar"
        class="icon-branch"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasBottom"
        aria-controls="offcanvasBottom"
      >
        <img src="../../images/icon-menu.png" />
      </div>
    </div>
    <div class="line-footer"></div>
  </div>
</div>
<div class="wrapper-offcanvas-bottom" id="wrapper-offcanvas-bottom">
  <div
    class="offcanvas offcanvas-bottom"
    tabindex="-1"
    id="offcanvasBottom"
    aria-labelledby="offcanvasBottomLabel"
  >
    <div class="offcanvas-body small">
      <div class="group-footer-items">
        <div class="line-footer"></div>
        <div class="logo-footer">
          <div class="icon-branch">
            <img
              class="ic-logo-footer-main"
              src="../../images/logo-footer-main.png"
            />
          </div>
          <div class="text-branch">RoytheArt</div>
        </div>
      </div>
      <div class="group-footer-items">
        <div class="box-footer-nav-items">
          <div class="footer-nav-items active">
            <img class="icon-footer-nav" src="../../images/icon-menu.png" />
            <div class="text-footer-nav">Menu</div>
          </div>
          <div class="footer-nav-items">
            <img
              class="icon-footer-nav"
              src="../../images/icon/ic-home-white.svg"
            />
            <div class="text-footer-nav">Home</div>
          </div>
          <div class="footer-nav-items">
            <img class="icon-footer-nav" src="../../images/icon-fun.png" />
            <div class="text-footer-nav">About Roy The Art</div>
          </div>
          <div class="footer-nav-items">
            <img class="icon-footer-nav" src="../../images/icon-shop.png" />
            <div class="text-footer-nav">Store</div>
          </div>
          <div class="footer-nav-items">
            <img
              class="icon-footer-nav"
              src="../../images/icon/ic-cart-white.svg"
            />
            <div class="text-footer-nav">Shopping cart</div>
          </div>
          <div class="footer-nav-items">
            <img
              class="icon-footer-nav"
              src="../../images/icon/ic-user-white.svg"
            />
            <div class="text-footer-nav">Account</div>
          </div>
        </div>
        <div class="line-footer"></div>
      </div>
    </div>
  </div>
</div>
