<table>
  <tr>
    <th>OrderID</th>
    <th class="active">Product(s)</th>
    <th>Total</th>
    <th>status</th>
  </tr>
  <tr>
    <td>
      <a class="box-table-items" href="/pages/Other/OtherDetail.html">
        <b>OD001</b>
        <span>Jan 04, 2023</span>
      </a>
    </td>
    <td class="active">
      <div class="box-table-price">
        <p>GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art</p>
        <span>quality: 2</span>
      </div>
      <div class="box-table-price">
        <p>GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art</p>
        <span>quality: 1</span>
      </div>
    </td>
    <td>12,000,000đ</td>
    <td>
      <div class="box-status working"><span>•</span>Working</div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="box-table-items">
        <b>OD002</b>
        <span>Jan 04, 2023</span>
      </div>
    </td>
    <td class="active">
      <div class="box-table-price">
        <p>GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art</p>
        <span>quality: 2</span>
      </div>
      <div class="box-table-price">
        <p>GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art</p>
        <span>quality: 1</span>
      </div>
    </td>
    <td>12,000,000đ</td>
    <td>
      <div class="box-status cancel"><span>•</span>Cancel</div>
    </td>
  </tr>

  <tr>
    <td>
      <div class="box-table-items">
        <b>OD003</b>
        <span>Jan 04, 2023</span>
      </div>
    </td>
    <td class="active">
      <div class="box-table-price">
        <p>GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art</p>
        <span>quality: 2</span>
      </div>
      <div class="box-table-price">
        <p>GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art</p>
        <span>quality: 1</span>
      </div>
    </td>
    <td>12,000,000đ</td>
    <td>
      <div class="box-status done"><span>•</span>Done</div>
    </td>
  </tr>
</table>

<div class="table-order">
  <div class="bg-items-order">
    <div class="wrapper-body-child-item">
      <a class="box-table-items" href="/pages/Other/OtherDetail.html">
        <div class="wapper-txt-description">
          <b>OD001</b>
          <span>Jan 04, 2023</span>
          <div class="description-products">
            <p>GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art</p>
            <p>quality: 2</p>
          </div>
          <div class="description-products">
            <p>GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art</p>
            <p>quality: 1</p>
          </div>
        </div>
      </a>
      <span class="working">•</span>
    </div>
    <div class="total">Total: 12,000,000</div>
  </div>
  <div class="bg-items-order">
    <div class="wrapper-body-child-item">
      <div class="box-table-items">
        <div class="wapper-txt-description">
          <b>OD002</b>
          <span>Jan 04, 2023</span>
          <div class="description-products">
            <p>GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art</p>
            <p>quality: 2</p>
          </div>
          <div class="description-products">
            <p>GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art</p>
            <p>quality: 1</p>
          </div>
        </div>
      </div>
      <span class="cancel">•</span>
    </div>
    <div class="total">Total: 12,000,000</div>
  </div>
  <div class="bg-items-order">
    <div class="wrapper-body-child-item">
      <div class="box-table-items">
        <div class="wapper-txt-description">
          <b>OD003</b>
          <span>Jan 04, 2023</span>
          <div class="description-products">
            <p>GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art</p>
            <p>quality: 2</p>
          </div>
          <div class="description-products">
            <p>GENSHIN IMPACT - DILUC 2022 | Photo Prints | Roy The Art | Fan Art</p>
            <p>quality: 1</p>
          </div>
        </div>
      </div>
      <span class="done">•</span>
    </div>
    <div class="total">Total: 12,000,000</div>
  </div>
</div>