@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url(../../bootstrap/css/bootstrap.min.css);
@import url(./components/_c-footer.custom.style.css);
@import url(./components/_c-header.custom.style.css);
@import url(./components/_c-rate.style.css);
@import url(./share.css);

html {
  /* 100 % size width design  (100 / 1440px "check px in figma")*/
  font-size: 0.06944444444vw;
  font-style: normal;
  font-family: "Lexend", sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lexend", sans-serif;
}
p{
  padding: 0;
  margin: 0;
}
a{
  color: #242B2E;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  html {
    /* 100 % size width design  (100 / 720)*/
    font-size: 0.13888888888vw;
    font-style: normal;
    font-family: "Lexend", sans-serif;
  }
}

@media only screen and (max-width: 720px) {
  html {
    /* 100 % size width design  (100 / 375)*/
    font-size: 0.26666666666vw;
    font-style: normal;
    font-family: "Lexend", sans-serif;
  }
}
